.catalogue{
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.catalogue__left p{
    margin: 4rem 0;
    max-width: 45rem;
    color: var(--color-grey);
}
.download__link{
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--color-white);
    color: var(--color-dark-blue);
    text-decoration: none;
    font-weight: 600;
}
.catalogue__right__image{
    width: 35rem;
}